{% extends 'base/page.html' %}

{% block content %}


<main class="container mx-auto">
    <h1 class="text-3xl font-bold text-center mt-4 mb-8 relative">
        Detail de {{ book.title }}
        {% if book.available %}
            <span class="bg-green-500 text-white text-sm py-1 px-2 rounded absolute scale-90 top-0 left-1">Disponible</span>
        {% else %}
            <span class="bg-red-500 text-white text-sm py-1 px-2 rounded absolute scale-90 top-0 left-1">Indisponible</span>
        {% endif %}
    </h1>
    <div class="border rounded p-4 bg-white drop-shadow my-8 flex flex-col gap-4">
        <div class="flex flex-col space-y-2">
            <span class="italic">{{ book.author }}</span>
            <span class="italic text-sm text-gray-500">ISBN: {{ book.isbn }}</span>
            <span class="italic text-sm text-gray-500">Type: {{ book.book_type }}</span>
        </div>
        <div class="flex gap-2">
            <a href="/reserve-book/{{ book.isbn }}" class="text-purple-600 font-bold hover:underline">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M17 22v-3h-3v-2h3v-3h2v3h3v2h-3v3zM5 20q-.825 0-1.412-.587T3 18V6q0-.825.588-1.412T5 4h1V2h2v2h6V2h2v2h1q.825 0 1.413.588T19 6v6.1q-.5-.075-1-.075t-1 .075V10H5v8h7q0 .5.075 1t.275 1z"/></svg>
            </a>
            <a href="/update-book?isbn={{ book.isbn }}&title={{ book.title }}&author={{ book.author }}&book_type={{ book.book_type }}" class="text-cyan-600 font-bold hover:underline">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M9 15v-4.25l9.175-9.175q.3-.3.675-.45t.75-.15q.4 0 .763.15t.662.45L22.425 3q.275.3.425.663T23 4.4t-.137.738t-.438.662L13.25 15zm10.6-9.2l1.425-1.4l-1.4-1.4L18.2 4.4zM5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h8.925L7 9.925V17h7.05L21 10.05V19q0 .825-.587 1.413T19 21z"/></svg>
            </a>
        </div>
        <ul>
            {% if movements %}
            <li class="font-bold text-xl mt-4 mb-2">Historique des réservations</li>
            {% endif %}
            {% for movement in movements %}
                <li>Start: {{ movement.date_start }} - End: {{ movement.date_end }} par {{ movement.user.first_name }} {{ movement.user.last_name }}</li>
            {% endfor %}
        </ul>
    </div>
</main>

{% endblock %}