{% extends 'base/page.html' %}

{% block content %}


<main class="container mx-auto">
    <h1 class="text-3xl font-bold text-center mt-4 mb-8 relative">
        Detail de {{ book.title }}
        {% if book.available %}
            <span class="bg-green-500 text-white text-sm py-1 px-2 rounded absolute scale-90 top-0 left-1">Disponible</span>
        {% else %}
            <span class="bg-red-500 text-white text-sm py-1 px-2 rounded absolute scale-90 top-0 left-1">Indisponible</span>
        {% endif %}
    </h1>
    <div class="border rounded p-4 bg-white drop-shadow my-8 flex flex-col gap-4">
        <div class="flex flex-col space-y-2">
            <span class="italic">{{ book.author }}</span>
            <span class="italic text-sm text-gray-500">ISBN: {{ book.isbn }}</span>
            <span class="italic text-sm text-gray-500">Type: {{ book.book_type }}</span>
        </div>
        <a href="/reserve-book/{{ book.isbn }}" class="text-cyan-600 font-bold hover:underline">Réserver</a>
        <ul>
            {% if movements %}
            <li class="font-bold text-xl mt-4 mb-2">Historique des réservations</li>
            {% endif %}
            {% for movement in movements %}
                <li>Start: {{ movement.date_start }} - End: {{ movement.date_end }} par {{ movement.user.first_name }} {{ movement.user.last_name }}</li>
            {% endfor %}
        </ul>
    </div>
</main>

{% endblock %}