
{% extends 'base/page.html' %}

{% block content %}

<main>
    <h1 class="text-3xl font-bold text-center mt-4 mb-8">Liste des livres</h1>
    <div class="flex w-full border rounded drop-shadow bg-white p-4 mb-4 gap-2 items-center justify-center">
        {% if data.page > 1 %}
            <a href="/list-book?page=1" class="mr-2 text-blue-500 hover:underline"> << </a>
            <a href="/list-book?page={{ data.page - 1 }}" class="mr-2 text-blue-500 hover:underline"> < </a>
        {% endif %}
        <span>{{ data.page }} / {{ data.nb_pages }}</span>
        {% if data.page < data.nb_pages %}
            <a href="/list-book?page={{ data.page + 1 }}" class="ml-2 text-blue-500 hover:underline"> > </a>
            <a href="/list-book?page= {{ data.nb_pages }}" class="ml-2 text-blue-500 hover:underline"> >> </a>
        {% endif %}
    </div>
    <div id="list_books" class="grid grid-cols-1 lg:gap-4 mt-6 gap-2 sm:grid-cols-3 lg:grid-cols-4 container mx-auto">
        {% for book in data.list_books %}
            <div class="flex flex-col items-center justify-center my-2 p-4 bg-gray-100 rounded relative pt-10 hover:drop-shadow-lg drop-shadow transition-all duration-300" id="{{ book.isbn }}">
                <a href="/detail-book/{{ book.isbn }}" class="font-bold text-xl block hover:underline">{{ book.title }}</a>
                <div class="italic text-sm">{{ book.author }}</div>
                <div class="italic text-sm text-gray-500">ISBN: {{ book.isbn }}</div>
                <div class="italic text-sm text-gray-500">Type: {{ book.book_type }}</div>
                    {% if book.available %}
                        <span class="bg-green-500 text-white text-sm absolute top-1 right-1 py-1 px-2 rounded">Disponible</span>
                    {% else %}
                        <span class="bg-red-500 text-white text-sm absolute top-1 right-1 py-1 px-2 rounded">Indisponible</span>
                    {% endif %}
                <div class="grid grid-cols-3 gap-2 mt-1">
                    <a href="reserve-book/{{ book.isbn }}" class="block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center w-full">Réserver</a>
                    <a href="/update-book?isbn={{ book.isbn }}&title={{ book.title }}&author={{ book.author }}&book_type={{ book.book_type }}" class="block bg-cyan-500 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded text-center w-full">Modifier</a>
                    <button onClick="deleteBook('{{ book.isbn }}')" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded text-center w-full">Supprimer</button>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        function deleteBook(isbn) {
            fetch(`api/v1/book/${isbn}`, {method: "DELETE"})
                .then(response => response.json())
                .then(data => {
                    const container_tmp = document.getElementById(isbn);
                    console.log(container_tmp);
                    if(container_tmp) {
                        container_tmp.remove();
                    }
                });
        }
    </script>
</main>

{% endblock %}