
{% extends 'base/page.html' %}

{% block content %}

<main>
    <h1 class="text-3xl font-bold text-center mt-4 mb-8">Liste des livres</h1>
    <div class="flex w-full border rounded drop-shadow bg-white p-4 mb-4 gap-2 items-center justify-center">
        {% if data.page > 1 %}
            <a href="/list-book?page=1" class="mr-2 text-blue-500 hover:underline">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="currentColor" d="m7.825 12l3.875 3.9q.275.275.288.688t-.288.712q-.275.275-.7.275t-.7-.275l-4.6-4.6q-.15-.15-.213-.325T5.426 12t.063-.375t.212-.325l4.6-4.6q.275-.275.688-.287t.712.287q.275.275.275.7t-.275.7zm6.6 0l3.875 3.9q.275.275.288.688t-.288.712q-.275.275-.7.275t-.7-.275l-4.6-4.6q-.15-.15-.213-.325T12.026 12t.063-.375t.212-.325l4.6-4.6q.275-.275.688-.287t.712.287q.275.275.275.7t-.275.7z"/></svg>
            </a>
            <a href="/list-book?page={{ data.page - 1 }}" class="mr-2 text-blue-500 hover:underline">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 24 24"><path fill="currentColor" d="M10 22L0 12L10 2l1.775 1.775L3.55 12l8.225 8.225z"/></svg>
            </a>
        {% endif %}
        <span>{{ data.page }} / {{ data.nb_pages }}</span>
        {% if data.page < data.nb_pages %}
            <a href="/list-book?page={{ data.page + 1 }}" class="ml-2 text-blue-500 hover:underline">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 24 24"><path fill="currentColor" d="m14.475 12l-7.35-7.35q-.375-.375-.363-.888t.388-.887t.888-.375t.887.375l7.675 7.7q.3.3.45.675t.15.75t-.15.75t-.45.675l-7.7 7.7q-.375.375-.875.363T7.15 21.1t-.375-.888t.375-.887z"/></svg>
            </a>
            <a href="/list-book?page= {{ data.nb_pages }}" class="ml-2 text-blue-500 hover:underline">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="currentColor" d="M9.575 12L5.7 8.1q-.275-.275-.288-.687T5.7 6.7q.275-.275.7-.275t.7.275l4.6 4.6q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.6 4.6q-.275.275-.687.288T5.7 17.3q-.275-.275-.275-.7t.275-.7zm6.6 0L12.3 8.1q-.275-.275-.288-.687T12.3 6.7q.275-.275.7-.275t.7.275l4.6 4.6q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.6 4.6q-.275.275-.687.288T12.3 17.3q-.275-.275-.275-.7t.275-.7z"/></svg>
            </a>
        {% endif %}
    </div>
    <div id="list_books" class="grid grid-cols-1 lg:gap-4 mt-6 gap-2 sm:grid-cols-3 lg:grid-cols-4 container mx-auto">
        {% for book in data.list_books %}
            <div class="flex flex-col items-center justify-center my-2 p-4 bg-gray-100 rounded relative pt-10 hover:drop-shadow-lg drop-shadow transition-all duration-300" id="{{ book.isbn }}">
                <a href="/detail-book/{{ book.isbn }}" class="font-bold text-xl block hover:underline">{{ book.title }}</a>
                <div class="italic text-sm">{{ book.author }}</div>
                <div class="italic text-sm text-gray-500">ISBN: {{ book.isbn }}</div>
                <div class="italic text-sm text-gray-500">Type: {{ book.book_type }}</div>
                    {% if book.available %}
                        <span class="bg-green-500 text-white text-sm absolute top-1 right-1 py-1 px-2 rounded">Disponible</span>
                    {% else %}
                        <span class="bg-red-500 text-white text-sm absolute top-1 right-1 py-1 px-2 rounded">Indisponible</span>
                    {% endif %}
                <div class="grid grid-cols-3 gap-2 mt-1">
                    <a href="reserve-book/{{ book.isbn }}" class="block bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-1 rounded text-center w-full text-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M17 22v-3h-3v-2h3v-3h2v3h3v2h-3v3zM5 20q-.825 0-1.412-.587T3 18V6q0-.825.588-1.412T5 4h1V2h2v2h6V2h2v2h1q.825 0 1.413.588T19 6v6.1q-.5-.075-1-.075t-1 .075V10H5v8h7q0 .5.075 1t.275 1z"/></svg>
                    </a>
                    <a href="/update-book?isbn={{ book.isbn }}&title={{ book.title }}&author={{ book.author }}&book_type={{ book.book_type }}" class="text-sm block bg-cyan-500 hover:bg-cyan-700 text-white font-bold py-1 px-1 rounded text-center w-full">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M6 22q-.825 0-1.412-.587T4 20V4q0-.825.588-1.412T6 2h7.175q.4 0 .763.15t.637.425l4.85 4.85q.275.275.425.638t.15.762V10.4q0 .275-.162.475t-.413.3q-.4.15-.763.388T18 12.1l-5.4 5.4q-.275.275-.437.638T12 18.9V21q0 .425-.288.713T11 22zm8-1v-1.65q0-.2.075-.387t.225-.338l5.225-5.2q.225-.225.5-.325t.55-.1q.3 0 .575.113t.5.337l.925.925q.2.225.313.5t.112.55t-.1.563t-.325.512l-5.2 5.2q-.15.15-.337.225T16.65 22H15q-.425 0-.712-.287T14 21m6.575-4.6l.925-.975l-.925-.925l-.95.95zM14 9h4l-5-5l5 5l-5-5v4q0 .425.288.713T14 9"/></svg>
                    </a>
                    <button onClick="deleteBook('{{ book.isbn }}')" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-1 rounded text-center w-full text-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM9 17h2V8H9zm4 0h2V8h-2zM7 6v13z"/></svg>
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        function deleteBook(isbn) {
            fetch(`api/v1/book/${isbn}`, {method: "DELETE"})
                .then(response => response.json())
                .then(data => {
                    const container_tmp = document.getElementById(isbn);
                    console.log(container_tmp);
                    if(container_tmp) {
                        container_tmp.remove();
                    }
                });
        }
    </script>
</main>

{% endblock %}