{% extends 'base/page.html' %}

{% block content %}
<main>
    <div class="container mx-auto my-4 border rounded p-6 bg-white drop-shadow">
        <h1 class="text-3xl font-bold text-center mt-4 mb-8">Réservé</h1>
        <div class="p-2 mx-2 border rounded">
            <p class="font-bold text-2xl block mb-2">Informations sur le livre :</p>
            <a class="font-bold text-xl block hover:underline" href="/detail-book/{{ book.isbn }}">{{ book.title }}</a>
            <div class="italic text-sm">{{ book.author }}</div>
            <div class="italic text-sm text-gray-500">ISBN: {{ book.isbn }}</div>
            <div class="italic text-sm text-gray-500">Type: {{ book.book_type }}</div>
        </div>
        <div class="h-0.5 w-full bg-gray-300 my-2"></div>
        <div class="flex flex-col space-y-4 my-2">
            <label>
                <span class="text-gray-700 text-sm font-bold mb-2">Utilisateur :</span>
                <select id="user" name="user">
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                    {% endfor %}
                </select>
            </label>
            <label for="reservation_date_start">
                <span class="text-gray-700 text-sm font-bold mb-2">Date de début :</span>
                <input type="date" id="reservation_date_start" name="reservation_date_start" placeholder="Date de début" />
            </label>
            <label for="reservation_date_end">
                <span class="text-gray-700 text-sm font-bold mb-2">Date de fin :</span>
                <input type="date" id="reservation_date_end" name="reservation_date_end" placeholder="Date de fin" />
            </label>
        </div>
        <button onClick="reserveBook('{{ book.isbn }}')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Réserver</button>
        <div>
            <span id="error" class="hidden border p-4 rounded my-4 bg-red-100">Non disponible</span>
            <span id="ok" class="hidden border p-4 rounded my-4 bg-green-100">Réservation effectuée</span>
        </div>
    </div>
</main>
<script>
    function reserveBook(isbn) {
        const reservation_date_start = new Date(document.getElementById("reservation_date_start").value);
        const reservation_date_end = new Date(document.getElementById("reservation_date_end").value);

        if(reservation_date_start > reservation_date_end || reservation_date_start == reservation_date_end) {
            alert("La date de début doit être inférieure à la date de fin");
            return;
        }

        fetch(`/api/v1/book/${isbn}/reserve`, {method: "POST", headers: {"Content-Type": "application/json"}, body: JSON.stringify({
            "reservation_date_start": reservation_date_start.toISOString().split("T")[0],
            "reservation_date_end": reservation_date_end.toISOString().split("T")[0],
                "user_id": document.getElementById("user").value
        })})
            .then(response => response.json())
            .then(data => {
                const error = document.getElementById("error");
                const ok = document.getElementById("ok");

                if(data.result === "Non disponible") {
                    error.style.display = "block";
                    ok.style.display = "none";
                } else {
                    error.style.display = "none";
                    ok.style.display = "block";
                }
            });
    }
</script>


{% endblock %}