<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Detail de {{ book.title }}</title>
</head>
<body>
<main class="container mx-auto">
    <h1 class="text-3xl font-bold text-center mt-4 mb-8 relative">
        Detail de {{ book.title }}
        {% if book.available %}
            <span class="bg-green-500 text-white text-sm py-1 px-2 rounded absolute scale-90 top-0 left-1">Disponible</span>
        {% else %}
            <span class="bg-red-500 text-white text-sm py-1 px-2 rounded absolute scale-90 top-0 left-1">Indisponible</span>
        {% endif %}
    </h1>

    <a href="/list" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Retour à la liste des livres</a>
    <a href="/reserve?isbn={{ book.isbn }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Réserver</a>
    <div class="border rounded p-4 bg-white drop-shadow my-8">
        <div class="flex flex-col space-y-2">
            <span class="italic">{{ book.author }}</span>
            <span class="italic text-sm text-gray-500">ISBN: {{ book.isbn }}</span>
            <span class="italic text-sm text-gray-500">Type: {{ book.book_type }}</span>
        </div>
        <ul>
            {% if movements %}
            <li class="font-bold text-xl mt-4 mb-2">Réservations</li>
            {% endif %}
            {% for movement in movements %}
                <li>Start: {{ movement.date_start }} - End: {{ movement.date_end }}</li>
            {% endfor %}
        </ul>
    </div>
</main>
</body>
</html>