{% extends 'base/page.html' %}

{% block content %}
<h1 class="text-3xl font-bold text-center mt-4 mb-8">Liste des utilisateurs</h1>
    <ul class="container mx-auto grid grid-cols-3 gap-2">
        {% for user in list_user %}
            <li class="flex flex-row items-center border rounded my-2 p-2" id="{{ user.id }}">
                <div class="w-1/2 text-center">
                    <a href="/detail-user/{{ user.id }}" class="text-xl font-bold hover:underline">{{user.id}} | {{ user.first_name }} {{ user.last_name }}</a>
                    <p class="text-sm">{{ user.email }}</p>
                    <span> {{ user.movements | length }} réservations</span>
                </div>
                <div class="w-1/2 text-center">
                    <button onclick="deleteUser('{{ user.id }}')" class="text-sm text-red-500 hover:underline">Supprimer</button>
                </div>
            </li>
        {% endfor %}
    </ul>
<script>
    function deleteUser(user_id) {
        fetch(`/delete-user/${user_id}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => response.json())
            .then(data => {
                const container_tmp = document.getElementById(user_id);
                if(container_tmp) {
                    container_tmp.remove();
                }
            })
            .catch(error => console.log(error));
    }
</script>
{% endblock %}