{% extends 'base/page.html' %}

{% block content %}
<form action="/api/v1/user/update/{{ user_id }}" method="GET"  class="border rounded shadow p-6 bg-white my-14 container mx-auto flex flex-col gap-4" >
    <h1 class="text-3xl font-bold text-center mt-4 mb-8">Modification d'un utilisateur</h1>
    {% if info %}
    <div class="bg-slate-100 p-4 rounded my-4 border">{{ info }}</div>
    {% endif %}
    <div class="flex flex-col">
        <div class="mb-4">
            <label for="first_name" class="block text-sm font-medium text-gray-700">Prénom</label>
            <input type="text" name="first_name" id="first_name" value="{{ first_name }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label for="last_name" class="block text-sm font-medium text-gray-700">Nom</label>
            <input type="text" name="last_name" id="last_name" value="{{ last_name }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            <input type="text" name="email" id="email" value="{{ email }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <button type="submit" class="bg-cyan-500 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded transition duration-150 ease-in-out">
            Enregistrer
        </button>
    </div>
</form>
{% endblock %}