{% extends 'base/page.html' %}

{% block content %}
<h1 class="text-3xl font-bold text-center mt-4 mb-8">Modification d'un utilisateur</h1>
<form action="/api/v1/user/update/{{ user_id }}" method="GET">
    {% if info %}
    <div class="bg-slate-100 p-4 rounded my-4 border">{{ info }}</div>
    {% endif %}
    <div class="flex flex-col">
        <div class="mb-4">
            <label for="first_name" class="block text-sm font-medium text-gray-700">Prénom</label>
            <input type="text" name="first_name" id="first_name" value="{{ first_name }}" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
        </div>
        <div class="mb-4">
            <label for="last_name" class="block text-sm font-medium text-gray-700">Nom</label>
            <input type="text" name="last_name" id="last_name" value="{{ last_name }}" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
        </div>
        <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            <input type="text" name="email" id="email" value="{{ email }}" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
        </div>
        <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset
                focus:ring-indigo-500">
            Enregistrer
        </button>
    </div>
</form>
{% endblock %}